.single-post{
    padding: 1rem;
    line-height: 2rem;
    width: 70%;
    margin-top: 2rem;
}

.single-post a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    
}

.post-owner{
    font-size: 2rem;
}


.single-post-title{
    font-size: 1.25rem;
}

.single-post-owner-profile-pic{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.single-post-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:2rem ;
}
.singlepost-image{
    width: 100%;
    object-fit: cover; 
}


.post-delete-btn{
    background-color: #005EFF;
    padding:1rem 1.5rem;
    color: white;
    border-color: transparent;
    border-radius: 1rem;
    font-size:1.25rem ;
    font-weight: 700;
}

.post-edit-btn{
    background-color: #005EFF;
    padding:1rem 1.5rem;
    color: white !important;
    border-color: transparent;
    border-radius: 1rem;
    font-size:1.25rem ;
    text-decoration: none;
}

@media (max-width:820px) {
    .single-post{
        width: 90%;
        
    }
}

@media (max-width:600px) {
    .single-post{
        margin-left: 0.2rem;
    }
}


/* review-from */

.review-form{
    width: 100%;
}
.comment-label{
    font-weight: 500;
    font-size: 2rem;
}
.comment{
    width: 70%;
    border-radius: 2rem;
    padding: 1.5rem 1rem;
    font-size: 1.25rem;
}
.comment:focus{
    outline-color: #005EFF;
    
}
.review-submit{
    font-size: 1.25rem;
    padding: 0.75rem 2rem;
    border-radius: 1rem;
    background-color: #005EFF;
    border-color: transparent;
    color: white;
}

.reviews{
    width: 97%;
    border: 1px solid black;
    padding: 0.25rem;
}

.review{
    border: 1px solid black;
    padding: 0.5rem;
    margin: 0.25rem;
}

.review-owner{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review-owner-profile-pic{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.review-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.review-delete{
    color: white;
    background-color: #005EFF;
    padding: 0.25rem;
    border-color: transparent;
    border-radius: 0.5rem;
    font-weight: 700;
}

.review-edit{
    color: white !important;
    background-color: #005EFF;
    padding: 0.05rem 0.5rem;
    border-color: transparent;
    font-size: 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
}

@media (max-width:640px) {
    .single-post{
        width: 90%;
    }
    .comment{
        width: 90%;
    }
}

