.chats{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
}

@media (max-width:675px) {
    .chats{
        width: 100%;
    }
}

.chats a{
    width: 100%;
}

.chat{
    display: flex;
    flex-direction: row;
    /* border:1px solid #0145EA; */
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    transition: all 0.25s ease-in-out ;
    box-shadow: 2px 2px 8px grey;
}

.chat:hover{
    box-shadow: 4px 4px 8px grey;
}

.chat-profilePic{
    height: 5rem;
    border-radius: 50%;
}

a{
    color: black;
    text-decoration: none;
}

.chat-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    flex-grow: 1;
}
.chat-status{
    margin-left: auto;
}

@media (max-width:600px) {
    .chats{
        margin: auto;
    }
    .chat-profilePic{
        height: 4rem;
    }
}
@media (max-width:450px) {
    .chat-profilePic{
        height: 2rem;
    }
}